.vs
.vscode
Library
Logs
obj
Packages
ProjectSettings
Temp
UserSettings
.vsconfig
Assembly-CSharp.csproj
FFF7.sln
Assets/**/*.meta
com.rlabrecque.steamworks.net
Mirror
ScriptTemplates
Assembly-CSharp-Editor.csproj
com.rlabrecque.steamworks.net.csproj
com.rlabrecque.steamworks.net.editor.csproj
Edgegap.csproj
EncryptionTransportEditor.csproj
FizzySteamworks.csproj
kcp2k.csproj
Mirror.Authenticators.csproj
Mirror.CompilerSymbols.csproj
Mirror.Components.csproj
Mirror.csproj
Mirror.Editor.csproj
Mirror.Examples.csproj
Mirror.Transports.csproj
SimpleWebTransport.csproj
Telepathy.csproj
Unity.Mirror.CodeGen.csproj
steam_appid.txt
Steamworks.NET